@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


@media all { 
body{
    box-sizing: border-box;
    width:100%;
    font-family: 'Raleway', sans-serif;
}


 }

 @media (max-width: 991px) and (min-width: 768px) {

 }


 @media (max-width: 767px) {
     
}